
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#root{
    color: black;
}

.header{
    background-color: bisque;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items > ul{
    display: flex;
}

.nav-items > ul > li{
    list-style-type: none;
    padding: 0px 10px 0px 10px;
}

.body{
    background-color: rgb(224, 235, 245);
    width: 100%;
}


.body-navbar{
    display: flex;
    justify-content: space-between;
}

.search-input{
    margin-top:1rem;
    padding: 0.6rem;
    width: 20rem;
    position: relative;
    left: 2.5rem;
    border-radius: 1rem;
    border: none;
}
.search-button{
    cursor: pointer;
    padding: 8px;
    margin-left:3rem;
    margin-top:1rem;
    font-weight: bold;
    background-color: rgb(95, 239, 131);
    border: 1px solid rgb(46, 50, 40);
    border-radius: 4px;

}
.filter{
    position: relative;
    right: 2rem;
}

.filter-btn{
    cursor: pointer;
    padding: 8px;
    margin-top:1rem;
    font-weight: bold;
    background-color: rgb(95, 239, 131);
    border: 1px solid rgb(46, 50, 40);
    border-radius: 4px;
}

.logo > img{
    width: 5.4rem;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 230px;
    height: 420px;
    margin: 0.5rem 1rem;
    background-color: #f0f0f0;
}
.res-data{
    padding: 8px;
}
.res-logo{
    width: 100%;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    background-color: #f0f0f0;
    width: 230px;
    height: 420px;
    margin: 0.5rem 1rem;
}
.login-btn{
    padding: 3px;
    margin: 0rem 1rem;
    cursor: pointer;
}
